* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;

}

.inizio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(90vh - 100px);
    background-color: #ffffff;
}


.center{
    height: 80%;
    width: 70%;
    /*border: solid black;*/
    display: flex;
    flex-direction: row;
}

.testo{
    /*border: solid yellow;*/
    width: 47%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.immagine {
    /*border: solid green;*/
    width: 47%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centro verticale */
    align-items: center;      /* centro orizzontale */
    height: 60vh;            /* fa occupare l’intera altezza dello schermo */
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}

.curva {
    width: 100%;
    height: 100px;
}






.contenitore-azione {
  display: flex;
  align-items: center;
  gap: 20px; /* Spazio tra bottone e link */
}

  .link-animato {
  position: relative;
  color: orangered;
  text-decoration: none; /* togli la sottolineatura classica */
  font-size: 17px;
  font-weight: 500;
  transition: color 0.8s ease, box-shadow 0.8s ease;
  margin-top: 20px;
}

/* Linea sottile per la sottolineatura */
.link-animato::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px; /* spessore linea */
  width: 0;
  background-color: orangered;
  transition: width 0.8s ease;
}

/* Freccia */
.highlight {
    background: linear-gradient(90deg, orangered, rgb(170, 111, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.link-animato:hover {
  box-shadow: 0 3px 60px rgba(3, 112, 255, 0.2); /* Ombra solo sotto */
  color: orangered;
}

.link-animato:hover::before {
  width: 100%; /* sottolineatura si allunga */
}

.link-animato:hover::after {
  opacity: 1;
  right: -30px;
}



.btn_login {
  background-color: orangered; /* Colore di sfondo */
  color: rgb(255, 255, 255); /* Colore del testo */
  border: none; /* Rimuove il bordo */
  width: 90px;
  margin-top: 20px;
  border: solid 1px orangered;
  height: 30px; /* Padding per dimensionare il bottone */
  font-size: 16px; /* Dimensione del testo */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  transition: all 0.7s ease; /* Transizione morbida per il cambio colore */
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 4px;
}

.btn_login:hover {
    transform: translateY(-1px);
    box-shadow: 0px 3px 9px rgba(255, 69, 0, 0.5);
    color: orangered;
    background-color: white;
}

.linea{
  background-color: orangered;
  width: 98%;
  height: 1px;
  margin:0 auto;
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 80px;

  background-color: transparent;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 0px;
}

.logo {
  width: 150px;
  height: 70px;
  margin-left: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.imp {
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.imp span {
  display: block;
  height: 3px;
  background: rgb(124, 33, 0);
  border-radius: 0px;
  transition: all 0.3s ease;
}

.imp.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
}

.imp.active span:nth-child(2) {
  opacity: 0;
}

.imp.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -13px;
}

.side-panel {
  font-family:  Courier, monospace;
  position: fixed;
  top: 90px;
  right: -300px;
  width: 270px;
  height: 400px;
  background: #ffffff;
  color: orangered;
  padding: 20px;
  box-sizing: border-box;
  border: 0.5px solid orangered;
  border-radius: 15px;
  border-bottom: solid 7px orangered;
  transition: right 0.5s ease;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.side-panel.open {
  right: 7px;
}


.animated-link {
  position: relative;
  color: #a0a0a0;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

/* linea nascosta */
.animated-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #a0a0a0;
  transform: scaleX(0);
  transform-origin: bottom left; /* sempre da destra */
  transition: transform 1s ease-out;
}

/* quando ci passi sopra */
.animated-link:hover::after {
  transform: scaleX(1); /* linea completa */
  transform-origin: bottom left; /* parte da destra e torna lì */
}






.lang-switcher {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 8px;
  color:#a0a0a0
}


.flag {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 5px;
}
.flag img {
  width: 28px;
  height: 20px;
  object-fit: cover;
  border-radius: 2px;
}

/* sottolineatura lingua attiva */
.flag.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  background: orangered;
  border-radius: 2px;
}


.wave-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: -100px;
}
.parte2{
  height: 1000px;
  background-color: orangered;
}
.wave-container2 {
  position: relative;
  width: 110%;
  height: 300px;
  overflow: hidden;
  margin-top: -60px;
}







.pagina {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* blocca lo scroll */
}

/* Immagine a sinistra */
.sinistra {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered; /* sfondo di riserva */
}

.sinistra img {
  width: 77%;
  height: 100%;
  object-fit: cover;
  margin-left: 270px;
  filter: brightness(1000%); /* 💡 Riduce la luminosità */
}

/* Testo a destra */
.destra {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  text-align: left;
}

.testo1 {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

.testo_grosso{
  margin-bottom: 25px;
  max-width: 600px;
  font-size: 48px;
  line-height: 1;
  color: white;
}

.striscia{
  margin-bottom: 25px;
  background-color: #ffffff;
  height: 1px;
  width: 70%;
  margin:0 auto;
}
























.pagina2 {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Testo in alto */
.testo3 {
  text-align: center;
  margin-bottom: 60px;
}

.testo3 h2 {
  font-size: 36px;
  color: orangered;
  margin-bottom: 10px;
}

.testo3 p {
  font-size: 20px;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Contenitore elementi */
.elementi {
  display: flex;
  justify-content: center;
  gap: 140px;
  flex-wrap: wrap;
}

/* Singolo elemento */
.elemento {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 7px 10px rgb(209, 209, 209);
  padding: 30px;
  width: 280px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.elemento:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 25px orangered;
}

/* Immagine sopra */
.img_elemento img {
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  
}

/* Testo sotto */
.testo_elemento h3 {
  color: #333;
  font-size: 22px;
  margin-bottom: 40px;
}

.testo_elemento p {
  color: #666;
  font-size: 17px;
  line-height: 1.5;
}










.idee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 100px;
  gap: 250px;
  background-color: #ffffff;
}

.testo_idee {
  flex: 1;
  max-width: 450px;
}

.testo_idee h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: orangered;
}

.testo_idee p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.btn_idee {
  background-color: orangered; /* Colore di sfondo */
  color: rgb(255, 255, 255); /* Colore del testo */
  border: none; /* Rimuove il bordo */
  width: 140px;
  margin-top: 10px;
  border: solid 1px orangered;
  height: 35px; /* Padding per dimensionare il bottone */
  font-size: 14px; /* Dimensione del testo */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  transition: all 0.7s ease; /* Transizione morbida per il cambio colore */
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 4px;
}
.btn_idee:hover {
  transform: translateY(-1px);
    box-shadow: 0px 3px 9px rgba(255, 69, 0, 0.5);
    color: orangered;
    background-color: white;
}

.carosello_idee {
  position: relative;
  width: 500px;
  height: 650px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}

.carosello_wrapper {
  display: flex;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.controlli {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.controlli button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 6px 6px;
  border-radius:4px;
  transition: background 0.4s;
}
.controlli button:hover {
  background-color: rgba(77, 77, 77, 0.7);
}

.wave-container3 {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: -200px;
}
.fine{
  background-color: orangered;
  height: 240px;
  width: 100%;
}





.fine {
  background-color: orangered;
  color: #ddd;
  padding: 0px 90px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.testo_fine {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  margin-bottom: 40px;
}

.colonna {
  flex: 1;
  min-width: 200px;
  margin: 10px 20px;
}

.colonna h3,
.colonna h4 {
  color: #fff;
  margin-bottom: 15px;
}

.colonna p {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.6;
}

.colonna ul {
  list-style: none;
  padding: 0;
}

.colonna ul li {
  margin: 8px 0;
}

.colonna ul li a {
  text-decoration: none;
  color: #bbb;
  transition: color 0.2s ease;
}

.colonna ul li a:hover {
  color: #ffffff;
}


.copyright {
  border-top: 1px solid #ffffff;
  width: 110%;
  text-align: center;
  padding-top: 15px;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}