.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    width: 100vw;
}

.center{
    /*border: green solid;*/
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.info, .info2{
    /*border: blue solid;*/
    flex-grow: 1;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profileImage{
    border-radius: 50%;
    background-color: orangered;
    width: 10vw;
    aspect-ratio: 1 / 1;
}

.skillSet{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.progetti{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.prova{
    width: 100%;
    border: solid orangered 1px;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
}

.basicInfo, .otherInfo, .statusInfo{
    padding: 20px;
    width: 40%;
}

.separation{
    border-top: solid 1px orangered;
    width: 40%;
}

.expYears{
    padding: 20px;
}

.editInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editBtn{
    height: min-content;
}

h1, h3{
    margin: 0px;
    width: fit-content;
}

h4{
    margin: 5px;
}