<div>
    <button class="logout-btn" (click)="startLogout()">LOGOUT</button>
</div>
<div class="container">
    <div class="center">
        <div class="info">
            <div class="basicInfo">
                <div class="profileImage"></div>
                <h1>{{user?.first_name}} {{user?.last_name}}</h1>
                <h3 style="color: orange;">{{user?.username}}</h3>
            </div>
            <div class="separation"></div>
            <div class="otherInfo">
                <div class="editInfo">
                    <h3>Country: {{user?.country}}</h3>
                    <div class="email-edit">
                        <div class="email-edit">
                            @if (tCountry) {
                                <input type="text" placeholder="Inseerisci paese" #country>
                                <button class="okBtn" (click)="updateUser('country', country.value)">OK</button>
                                <button class="editBtn" (click)="toggleCountry()">🔧</button>
                            } @else {
                                <button class="editBtn" (click)="toggleCountry()">🔧</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="editInfo">
                    <h3>Status: {{user?.status}}</h3>
                    <div class="email-edit">
                        @if (tStatus) {
                            <select [(ngModel)]="selectedStatus">
                                <option value="">Il tuo status</option>
                                <option value="libero">Libero</option>
                                <option value="occupato">Occupato</option>
                            </select>
                            <button class="okBtn" (click)="updateUser('status', selectedStatus)">OK</button>
                            <button class="editBtn" (click)="toggleStatus()">🔧</button>
                        } @else {
                            <button class="editBtn" (click)="toggleStatus()">🔧</button>
                        }
                    </div>
                </div>
                <div class="editInfo">
                   <h3>Anni di esperienza: {{user?.anni_di_esperienza}}</h3>
                    <div class="email-edit">
                        @if (tAnnixp) {
                            <input type="number" placeholder="Inseerisci anni" #annixp>
                            <button class="okBtn" (click)="updateUser('anni_di_esperienza', annixp.value)">OK</button>
                            <button class="editBtn" (click)="toggleAnniexp()">🔧</button>
                        } @else {
                            <button class="editBtn" (click)="toggleAnniexp()">🔧</button>
                        }
                    </div>
                </div>
            </div>
            <div class="separation"></div>
            <div class="statusInfo">
                <div class="editInfo">
                    <h3>Username: {{user?.username}}</h3>
                    <div class="email-edit">
                        @if (tUser) {
                            <input type="text" placeholder="Nuovo username" #nuovaUser>
                            <button class="okBtn" (click)="updateUser('username', nuovaUser.value)">OK</button>
                            <button class="editBtn" (click)="toggleUsername()">🔧</button>
                        } @else {
                            <button class="editBtn" (click)="toggleUsername()">🔧</button>
                        }
                    </div>
                </div>
                <div class="editInfo">
                    <h3>Email: {{user?.email}}</h3>
                    <div class="email-edit">
                        @if (tMail) {
                            <input type="email" placeholder="Nuova email" #nuovaMail>
                            <button class="okBtn" (click)="updateUser('email', nuovaMail.value)">OK</button>
                            <button class="editBtn" (click)="toggleMail()">🔧</button>
                        } @else {
                            <button class="editBtn" (click)="toggleMail()">🔧</button>
                        }
                    </div>
                </div>
                <div class="editInfo">
                    <h3>Password: <p>La tua password non viene mostrata per privacy</p></h3>
                    <div class="email-edit">
                        @if (tPass) {
                            <input 
                                [type]="showPassword ? 'text' : 'password'" 
                                placeholder="password" 
                                #nuovapassword>
                            <button (click)="togglePasswordText()">
                                @if (showPassword) {
                                    nascondi
                                }@else {
                                    mostra
                                }
                            </button>
                            <button class="okBtn" (click)="updateUser('password', nuovapassword.value)">OK</button>
                            <button class="editBtn" (click)="togglePass()">🔧</button>
                        } @else {
                            <button class="editBtn" (click)="togglePass()">🔧</button>
                        }
                    </div>
                </div>
                </div>
                <div class="separation"></div>
                <div class="statusInfo2">
                    <div class="editInfo2" routerLink="/users">
                        <strong><p>VISUALIZZA ALTRI UTENTI</p></strong>
                    </div>
                    <div class="editInfo2" routerLink="/projects">
                        <strong><p>VISUALIZZA I PROGETTI</p></strong>
                    </div>
                </div>
        </div>
        <div class="info2">
            <div class="skillSet">
                <h2>Skill</h2>
                <select [(ngModel)]="skill">
                    <option value=""></option>
                    @for (skill of skills; track skill) {
                        <option [value]="skill">{{ skill }}</option>
                    }
                </select>
                <p>Le tue skils: {{user?.skills}}</p>
            </div>
            <button class="cambioBtn" (click) = "addUserSkill()">Aggiungi alle tue skill</button>
            <div class="separation2"></div>
            <div class="progetti">
                <h2>Progetti a cui partecipi</h2>
                @if(progetti.length === 0){
                    <div>Non partecipi a nessun progetto</div>
                }@else {
                    @for(pro of progetti; track pro){
                        <div class="prova">{{pro.title}} <br> <hr> Creatore: {{pro.creator_name}} <br> Posti disponibili: {{pro.max_persone - pro.user_count}} <br> Ambiti: {{pro.environments}}</div>
                    }
                }
            </div>
            <button class="cambioBtn" routerLink="/createProject">Crea il tuo progetto</button>
        </div>
    </div>
</div>

<div class="popup-overlay" *ngIf="popupVisible">
  <div class="popup" [ngClass]="popupType">
    <h2>{{ popupType === 'success' ? '✅ Successo' : '⚠️ Errore' }}</h2>
    <p>{{ popupMessage }}</p>
    <button (click)="closePopup()">Chiudi</button>
  </div>
</div>
