.inizio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 100px);
}

.center{
    height: 80%;
    width: 65%;
    /*border: solid black;*/
    display: flex;
    flex-direction: row;
}

.testo{
    /*border: solid yellow;*/
    width: 50%;
    padding-top: 3%;
    padding-left: 5%;
}

.immagine{
    /*border: solid green;*/
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
    width: min-content;
}















.navbar {
  width: 100%;
  height: 80px;
  border-bottom: solid 1px rgb(59, 167, 255);
  background-color: transparent;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 0px;
}

.logo {
  background-color: brown;
  width: 100px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imp {
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.imp span {
  display: block;
  height: 3px;
  background: rgb(23, 27, 255);
  border-radius: 0px;
  transition: all 0.3s ease;
}

.imp.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
}

.imp.active span:nth-child(2) {
  opacity: 0;
}

.imp.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -13px;
}

.side-panel {
  font-family:  Courier, monospace;
  position: fixed;
  top: 90px;
  right: -300px;
  width: 270px;
  height: 400px;
  background: #ffffff;
  color: rgb(92, 92, 92);
  padding: 20px;
  box-sizing: border-box;
  border: 0.5px solid #246BCE;
  border-radius: 15px;
  border-bottom: solid 7px #246BCE;
  transition: right 0.5s ease;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.side-panel.open {
  right: 7px;
}


.animated-link {
  position: relative;
  color: #a0a0a0;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

/* linea nascosta */
.animated-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #a0a0a0;
  transform: scaleX(0);
  transform-origin: bottom left; /* sempre da destra */
  transition: transform 1s ease-out;
}

/* quando ci passi sopra */
.animated-link:hover::after {
  transform: scaleX(1); /* linea completa */
  transform-origin: bottom left; /* parte da destra e torna lì */
}






.lang-switcher {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 8px;
  color:#a0a0a0
}


.flag {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 5px;
}
.flag img {
  width: 28px;
  height: 20px;
  object-fit: cover;
  border-radius: 2px;
}

/* sottolineatura lingua attiva */
.flag.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  background: #246BCE;
  border-radius: 2px;
}