.inizio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: antiquewhite;
}


.center{
    height: 80%;
    width: 70%;
    /*border: solid black;*/
    display: flex;
    flex-direction: row;
}

.testo{
    /*border: solid yellow;*/
    width: 47%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.immagine{
    /*border: solid green;*/
    width: 47%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}

.curva {
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;  /* Nasconde il contenuto che fuoriesce */
    clip-path: ellipse(100% 40px at 78px 10px);
}






.contenitore-azione {
  display: flex;
  align-items: center;
  gap: 20px; /* Spazio tra bottone e link */
}

  .link-animato {
  position: relative;
  color: #1E56A0;
  text-decoration: none; /* togli la sottolineatura classica */
  font-size: 20px;
  font-weight: 500;
  transition: color 0.8s ease, box-shadow 0.8s ease;
  margin-top: 20px;
}

/* Linea sottile per la sottolineatura */
.link-animato::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px; /* spessore linea */
  width: 0;
  background-color: #1E56A0;
  transition: width 0.8s ease;
}

/* Freccia */
.link-animato::after {
  content: " →";
  position: absolute;
  opacity: 0;
  right: -10px;
  transition: opacity 0.8s ease, right 0.8s ease;
  color: #1E56A0;
}

.link-animato:hover {
  box-shadow: 0 3px 60px rgba(3, 112, 255, 0.2); /* Ombra solo sotto */
  color: #1E56A0;
}

.link-animato:hover::before {
  width: 100%; /* sottolineatura si allunga */
}

.link-animato:hover::after {
  opacity: 1;
  right: -30px;
}



.btn_login {
  background-color: #ffffff; /* Colore di sfondo */
  color: #1E56A0; /* Colore del testo */
  border: none; /* Rimuove il bordo */
  width: 120px;
  margin-top: 20px;
  border: solid 1px #246BCE;
  height: 30px; /* Padding per dimensionare il bottone */
  font-size: 16px; /* Dimensione del testo */
  border-radius: 8px; /* Angoli smussati */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  transition: all 0.7s ease; /* Transizione morbida per il cambio colore */
}

.btn_login:hover {
  background-color: #1E56A0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: white; /* Colore di sfondo quando il cursore è sopra */
}

.linea{
  background-color: #246BCE;
  width: 98%;
  height: 1px;
  margin:0 auto;
}

.navbar {
  width: 100%;
  height: 80px;

  background-color: transparent;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 0px;
}

.logo {
  background-color: rgb(12, 188, 241);
  width: 150px;
  height: 70px;
  margin-left: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imp {
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.imp span {
  display: block;
  height: 3px;
  background: rgb(23, 27, 255);
  border-radius: 0px;
  transition: all 0.3s ease;
}

.imp.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
}

.imp.active span:nth-child(2) {
  opacity: 0;
}

.imp.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -13px;
}

.side-panel {
  font-family:  Courier, monospace;
  position: fixed;
  top: 90px;
  right: -300px;
  width: 270px;
  height: 400px;
  background: #ffffff;
  color: rgb(92, 92, 92);
  padding: 20px;
  box-sizing: border-box;
  border: 0.5px solid #246BCE;
  border-radius: 15px;
  border-bottom: solid 7px #246BCE;
  transition: right 0.5s ease;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.side-panel.open {
  right: 7px;
}


.animated-link {
  position: relative;
  color: #a0a0a0;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

/* linea nascosta */
.animated-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #a0a0a0;
  transform: scaleX(0);
  transform-origin: bottom left; /* sempre da destra */
  transition: transform 1s ease-out;
}

/* quando ci passi sopra */
.animated-link:hover::after {
  transform: scaleX(1); /* linea completa */
  transform-origin: bottom left; /* parte da destra e torna lì */
}






.lang-switcher {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 8px;
  color:#a0a0a0
}


.flag {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 5px;
}
.flag img {
  width: 28px;
  height: 20px;
  object-fit: cover;
  border-radius: 2px;
}

/* sottolineatura lingua attiva */
.flag.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  background: #246BCE;
  border-radius: 2px;
}