<div class="container">
  <!-- 🔹 Lista progetti filtrata -->
  <div class="projects-list">
    @if (projects | async; as projects) {
      @for (pro of projects; track pro) {
        <!-- Applica filtro skill e availability -->
          <div class="project">
            <h2>{{ pro.title }}</h2>
            <p>Numero di persone: {{ pro.user_count }}</p>
            @if(!pro.is_full){
              <button (click) = "add_userProject(pro.project_id)" class="btnProject">Unisciti al Proggetto</button>
            }
            <!-- Toggle dettagli progetto -->
            <button (click)="toggleProjectDetails(pro.project_id)" class="btnProject">
              {{ expandedProjectId === pro.project_id ? 'Nascondi dettagli' : 'Scopri di più' }}
            </button>

            @if (expandedProjectId === pro.project_id) {
              <div class="details">
                <p>Skill richieste: {{ pro.required_skills }}</p>
                <p>Ambito: {{pro.environments}}</p>
                <p>Disponibilità: {{ pro.availability }}</p>
                <p>Descrizione: {{ pro.description }}</p>
              </div>
            }
          </div>
          <br>
        }
    }@else {
      <p>Caricamento in corso...</p>
    }
  </div>

  <div class="filters-projects">
    <div class="btnBackDiv">
      <button class="btnBack" routerLink="/profile">Torna al profilo</button>
    </div>
    <h1>Cerca</h1>
    <div class="filter">
      <h4>Skill: </h4>
      <select [(ngModel)]="filterProjectSkill">
        <option value="">-- Tutte le skill --</option>
        @for(skill of skillsList; track skill) {
          <option [value]="skill">{{ skill }}</option>
        }
      </select>
    </div>

    <div class="filter">
      <h4>Ambiti: </h4>
      <select [(ngModel)]="filterProjectEnv">
        <option value="">-- Tutte gli ambiti --</option>
        @for(env of envList; track env) {
          <option [value]="env">{{ env }}</option>
        }
      </select>
    </div>

    <div class="filter">
      <h4>Disponibilità: </h4>
      <select [(ngModel)]="filterProjectAvailability">
        <option value="full">Full</option>
        <option value="open">Open</option>
      </select>
    </div>

    <div class="btnFilters">
      <button (click)="applyProjectFilters()" class="btnFilter">Filtra progetti</button>
      <button (click)="clearProjectFilters()" class="btnFilter">Reset filtri</button>
    </div>
  </div>
</div>

<div class="popup-overlay"
     *ngIf="popupVisible && popupType === 'success'">
  <div class="popup" (click)="$event.stopPropagation()">
    <h2>✅Ti sei unito ad un progetto</h2>
    <p>{{popupMessage}}</p>
    <button (click)="closePopup()">Close</button>
  </div>
</div>

<!-- ❌ POPUP ERRORE -->
<div class="popup-overlay"
     *ngIf="popupVisible && popupType === 'error'"
     (click)="closePopup()">
  <div class="popup" (click)="$event.stopPropagation()">
    <h2>⚠️Non sei riuscito ad unirti ad un progetto</h2>
    <p>{{ popupMessage }}</p>
    <button (click)="closePopup()">Close</button>
  </div>
</div>
